<h3>Academic Admin Dashboard</h3>

<div class="row">
  <div class="col-md-4">
    <div class="card p-3 mb-3">
      <h5>Total Programmes</h5>
      <p><%= programmeCount %></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 mb-3">
      <h5>Total Students</h5>
      <p><%= studentCount %></p>
    </div>
  </div>
</div>

<a href="/academic/students" class="btn btn-primary">Manage Students</a>